h2 {
    text-align: center;
    margin: 10px;
    font-size: 2.5rem;
    color: #333;
    border-bottom: 2px solid #007bff;
  }
  table {
      width: 100%; /* Full width */
      border-collapse: collapse; /* Merge borders */
      margin-top: 20px; /* Space above the table */
    }
    
    th {
      background-color: #007bff; /* Header background color */
      color: white; /* Header text color */
      padding: 10px; /* Cell padding */
      text-align: left; /* Left align text */
    }
    
    td {
      padding: 10px; /* Cell padding */
      border: 1px solid #ddd; /* Light border for table cells */
    }
    
    input {
      width: 100%; /* Full width for input fields */
      padding: 5px; /* Inner padding */
      border: 1px solid #ccc; /* Light gray border */
      border-radius: 4px; /* Rounded corners */
    }
    
    span {
      display: block; /* Block display for text */
      padding: 5px; /* Inner padding */
    }
    